@charset "UTF-8";

body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    color:rgb(41, 158, 92);
}

h2{
    color: rgb(158, 108, 194);

}

h1#principal { 
    text-align: center;
    background-color: rgb(158, 108, 194);
    color: green;
}

.básico {
    color: blue;
}

.intermediário {
    color: brown;

}

.avançado {
    color: rgb(175, 42, 168);
}